{% extends 'base.html.twig' %}

{% block body %}
    <h1>All articles from article s table : </h1>
    {% for i in 0..2 %}
        <div>
            <h2>{{ articles[i].id }} / {{ categoryName.name }} - Category : {{ articles[i].title }}</h2>
            <p>{{ articles[i].content }}</p>
        </div>
    {% else %}
        Aucun article trouvé.
    {% endfor %}
    <a href="{{ path('app_index') }}">
      Back to homepage.
    </a>
{% endblock %}